.center {
    margin: 0 auto;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

#title {
    text-align: center;
}

label, input {
    display: block;
    margin: 10px 0;
}

select {
    margin: 10px 0;
}

input[type="radio"] {
    display: inline;
    margin: 0 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px; 
    margin-left: -200px; 
}


input[type="checkbox"] {
    margin-left: 190px; 
}
